/* color */
.c_none {
    color: rgba(0, 0, 0, 0.34);
}

/* input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
input[type='password'] {
    letter-spacing: 6px;
}

.box_basic {
    min-height: 50px !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dadada;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out;
    box-shadow: none;
}
.form-control::-webkit-input-placeholder {
    color: #b9b9b9;
    opacity: 1;
    letter-spacing: 0;
}
.form-control::-moz-placeholder {
    color: #b9b9b9;
    opacity: 1;
    letter-spacing: 0;
}
.form-control:-ms-input-placeholder {
    color: #b9b9b9;
    opacity: 1;
    letter-spacing: 0;
}
.form-control::-ms-input-placeholder {
    color: #b9b9b9;
    opacity: 1;
    letter-spacing: 0;
}
.form-control::placeholder {
    color: #b9b9b9;
    opacity: 1;
    letter-spacing: 0;
}
.form-control:focus {
    position: relative;
    z-index: 1;
    color: #000;
    background-color: #fff;
    border-color: #424b55;
    outline: 0;
    box-shadow: none;
    caret-color: #8531ff;
}
.form-control:disabled,
.form-control[readonly] {
    background: rgba(221, 221, 221, 0.34);
    color: rgba(22, 22, 22, 0.34);
    border-color: #d8d8d8;
}
.form-control.sm {
    height: 44px;
    font-size: 14px;
}
.input-group .space {
    width: 12px;
}
.input-group-prepend input.form-control + input.form-control {
    margin-left: -1px;
    width: 120%;
}
.input-daterange input {
    text-align: left;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60px;
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 60px;
    margin: 0;
    opacity: 0;
}
.custom-file-input:focus ~ .custom-file-label {
    border-color: #e2e2e2;
    box-shadow: none;
}
.custom-file-input:disabled ~ .custom-file-label {
    background: rgba(221, 221, 221, 0.34);
    color: rgba(22, 22, 22, 0.34);
    border-color: #d8d8d8;
}
.custom-file-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 60px;
    padding: 19px 80px 19px 20px;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: #b9b9b9;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 0;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 100%;
    padding: 19px 18px;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    content: '첨부';
    background: #424b55;
    border-radius: 0;
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: #ff6857;
    padding-right: 60px;
}
.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
    border-color: #ff6857;
    box-shadow: none;
}
.was-validated .form-control:valid,
.form-control.is-valid {
    border-color: #dadada;
    padding-right: 60px;
}
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
    border-color: #dadada;
    box-shadow: none;
}
.btn_file {
    z-index: -9999;
    position: fixed;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.btn_file + label {
    display: inline-block;
    width: 100%;
    font-weight: 700;
    color: #424b55;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #424b55;
    padding: 16px 30px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
    box-shadow: none;
}
@media (max-width: 768px) {
    .form-control {
        height: 48px;
        font-size: 13px;
    }
    .form-control.sm {
        height: 40px;
        font-size: 13px;
    }
    .input-group .space {
        width: 10px;
    }
    .custom-file {
        height: 48px;
    }
    .custom-file-input {
        height: 48px;
    }
    .custom-file-label {
        height: 48px;
        padding: 13px 80px 13px 20px;
        font-size: 13px;
    }
    .custom-file-label::after {
        padding: 13px 18px;
        font-size: 13px;
    }
    .btn_file + label {
        padding: 14px 25px;
        font-size: 13px;
        line-height: 15px;
    }
    .mobile_none {
        display: none !important;
    }
}

/* button */
/* .btn {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 24px 25px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
    box-shadow: none;
} */
.btn i {
    margin-right: 5px;
}
.btn.md {
    position: relative;
    z-index: 4;
    padding: 19px 25px;
    font-size: 16px;
    font-weight: 400;
}
.btn.sm {
    position: relative;
    z-index: 1;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 400;
}
.btn.md i.add {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}
.btn:hover {
    color: #fff;
    text-decoration: none;
}
.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: none;
}
.btn .next {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
    width: 8px;
    height: 13px;
}
.btn .prev {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    width: 8px;
    height: 13px;
}
.btn-purple {
    color: #8531ff !important;
    background-color: #fff;
    border-color: #8531ff;
}
.btn-purple-bg {
    color: #fff !important;
    background-color: #8531ff;
    border-color: #8531ff;
}
/*.btn-purple:hover {color: #fff !important;background-color:#8531ff;transition:all 0.15s ease-in-out;}*/
.btn-purple.disabled,
.btn-purple:disabled {
    background: #dadada;
    color: #fff !important;
    border-color: #dadada;
    opacity: 1;
}
.btn-purple:not(:disabled):not(.disabled):active,
.btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
    color: #8531ff;
    background-color: #fff;
}
.btn-black {
    color: #424b55 !important;
    background-color: #fff;
    border-color: #424b55;
}
/*.btn-black:hover {color: #fff !important;background-color:#424b55;transition:all 0.15s ease-in-out;}*/
.btn-black.disabled,
.btn-black:disabled {
    background: #dadada;
    color: #fff !important;
    border-color: #dadada;
    opacity: 1;
}
.btn-black:not(:disabled):not(.disabled):active,
.btn-black:not(:disabled):not(.disabled).active,
.show > .btn-black.dropdown-toggle {
    color: #424b55;
    background-color: #fff;
}
.btn-darkblue {
    color: #fff !important;
    background-color: #424b55;
    border-color: #424b55;
}
.btn-darkblue:hover {
    color: #fff;
}
.btn-darkblue.disabled,
.btn-darkblue:disabled {
    background: #dadada;
    color: #fff !important;
    border-color: #dadada;
    opacity: 1;
}
.btn-darkblue:not(:disabled):not(.disabled):active,
.btn-darkblue:not(:disabled):not(.disabled).active,
.show > .btn-darkblue.dropdown-toggle {
    color: #fff;
    background-color: #424b55;
}
.btn-gray {
    color: #707070 !important;
    background-color: #fff;
    border-color: #dadada;
}
.btn-gray.disabled,
.btn-gray:disabled {
    background: #fff;
    color: #dadada !important;
    border-color: #dadada;
    opacity: 1;
}
.btn_input {
    display: inline-block;
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #fff !important;
    background: #424b55;
}
.btn_input_add {
    color: #fff;
    display: inline-block;
    border: 1px solid #dadada;
    border-left: 0;
    width: 60px;
    height: 60px;
    background: #424b55;
}
.btn_input_delete {
    color: #fff;
    display: inline-block;
    border: 1px solid #dadada;
    border-left: 0;
    width: 60px;
    height: 60px;
    background: #424b55;
}
.btn_square_white {
    display: inline-block;
    border: 1px solid #dadada;
    padding: 0 16px;
    line-height: 42px;
    font-size: 14px;
    color: #707070 !important;
    background: #fff;
}
.btn_square_white:disabled {
    background: rgba(221, 221, 221, 0.34);
    color: rgba(22, 22, 22, 0.34) !important;
    border-color: #d8d8d8;
}
.btn_square_white.disabled {
    background: rgba(221, 221, 221, 0.34);
    color: rgba(22, 22, 22, 0.34) !important;
    border-color: #d8d8d8;
}
.btn_square_darkblue {
    display: inline-block;
    border: 1px solid #424b55;
    padding: 0 16px;
    line-height: 42px;
    font-size: 14px;
    color: #fff !important;
    background: #424b55;
}
.btn_square_darkblue:disabled {
    background: rgba(221, 221, 221, 0.34);
    color: rgba(22, 22, 22, 0.34) !important;
    border-color: #d8d8d8;
}
.btn_square_darkblue.disabled {
    background: rgba(221, 221, 221, 0.34);
    color: rgba(22, 22, 22, 0.34) !important;
    border-color: #d8d8d8;
}
.btn_square_purple {
    display: inline-block;
    border: 1px solid #8531ff;
    padding: 0 16px;
    line-height: 42px;
    font-size: 14px;
    color: #fff !important;
    background: #8531ff;
}
.btn_line_white {
    display: inline-block;
    border: 1px solid #fff;
    padding: 0 26px;
    line-height: 58px;
    font-size: 16px;
    color: #fff;
    background: transparent;
    text-align: center;
}
@media (max-width: 768px) {
    .btn {
        padding: 17px 25px;
        font-size: 14px;
        line-height: 16px;
    }
    .btn.md {
        padding: 15px 25px;
        font-size: 13px;
    }
    .btn.md i.add {
        width: 12px;
        height: 12px;
    }
    .btn.sm {
        padding: 5px 11px;
        font-size: 12px;
    }
    .btn_input {
        height: 48px;
        padding: 0;
        line-height: 48px;
        font-size: 13px;
    }
    .btn_input_add {
        width: 48px;
        height: 48px;
        background: #424b55 url(../../assets/image/svg/btn_add_list.svg)
            no-repeat 50% 50% / 18px;
    }
    .btn_input_delete {
        width: 48px;
        height: 48px;
        background: #424b55 url(../../assets/image/svg/btn_delete.svg) no-repeat
            50% 50% / 18px 2px;
    }
    .btn_square_white {
        padding: 0 12px;
        line-height: 34px;
        font-size: 12px;
    }
    .btn_square_darkblue {
        padding: 0 12px;
        line-height: 34px;
        font-size: 12px;
    }
    .btn_square_purple {
        padding: 0 12px;
        line-height: 34px;
        font-size: 12px;
    }
    .btn_line_white {
        padding: 0 26px;
        line-height: 50px;
        font-size: 14px;
    }
    .btn .next {
        top: -1px;
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 13px;
    }
    .btn .prev {
        top: -1px;
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 13px;
    }
}

/* checkbox, radio, switch, select */
.inp_chk {
    z-index: -9999;
    position: fixed;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.inp_chk + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 32px;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
}
.inp_chk + label:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}
.custom-select {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 28px 0 20px;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    border: 1px solid #dadada;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.custom-select:focus {
    color: #000;
    background-color: #fff;
    border-color: #dadada;
    outline: 0;
    box-shadow: none;
}

.custom-select:disabled {
    background: rgba(221, 221, 221, 0.34);
    color: rgba(22, 22, 22, 0.34);
    border-color: #d8d8d8;
}
.custom-select.v2 {
    height: 44px;
    padding: 0 30px 0 16px;
}
.btn_radio {
    position: relative;
    height: 60px;
}
.btn_radio input[type='radio'] {
    z-index: -9999;
    position: fixed;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.btn_radio label {
    cursor: pointer;
}
.btn_radio input:checked + label {
    z-index: 1;
    color: #00d190;
    border-color: #00d190;
    transition: all 0.15s ease-in-out;
}
.btn_radio input:disabled + label {
    cursor: default;
    background: rgba(221, 221, 221, 0.34);
    color: rgba(22, 22, 22, 0.34);
    border-color: #d8d8d8;
}
.btn_radio input:disabled:checked + label {
    z-index: 1;
    color: #00d190;
    border-color: #00d190;
    background: #fff;
}
.btn_radio label.first {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    line-height: 58px;
    border: 1px solid #dadada;
    text-align: center;
    font-size: 16px;
    color: #707070;
}
.btn_radio label.last {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(50% + 1px);
    height: 100%;
    line-height: 58px;
    border: 1px solid #dadada;
    text-align: center;
    font-size: 16px;
    color: #707070;
}
.inp_chk_trans {
    z-index: -9999;
    position: fixed;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.inp_chk_trans + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 32px;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
}
.inp_chk_trans + label:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}
.chk_circle {
    z-index: -9999;
    position: fixed;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.chk_circle + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 0;
    line-height: 1;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.chk_circle_txt {
    z-index: -9999;
    position: fixed;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.chk_circle_txt + label {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 0 32px;
    cursor: pointer;
    line-height: 24px;
    font-size: 16px;
    color: #000;
}
.txt_radio {
    z-index: -9999;
    position: fixed;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.txt_radio + label {
    position: relative;
    display: inline-block;
    line-height: 15px;
    font-size: 13px;
    cursor: pointer;
    color: #707070;
}
.txt_radio:checked + label {
    color: #000;
    font-weight: bold;
}

@media (max-width: 768px) {
    .inp_chk + label {
        padding: 0 0 0 26px;
        line-height: 16px;
        font-size: 14px;
    }
    .inp_chk + label:before {
        width: 16px;
        height: 16px;
    }
    .custom-select {
        height: 48px;
        font-size: 13px;
    }
    .custom-select.v2 {
        height: 36px;
        font-size: 13px;
    }
    .btn_radio {
        height: 48px;
    }
    .btn_radio label {
        line-height: 46px !important;
    }
    .inp_chk_trans + label {
        padding: 0 0 0 26px;
        line-height: 16px;
        font-size: 14px;
    }
    .inp_chk_trans + label:before {
        width: 16px;
        height: 16px;
    }
    .chk_circle + label {
        width: 20px;
        height: 20px;
    }
    .chk_circle_txt + label {
        padding: 0 0 0 29px;
        line-height: 20px;
        font-size: 14px;
    }
    .txt_radio + label {
        line-height: 14px;
        font-size: 12px;
    }
}

/* datepicker */
.datepicker {
    padding: 0;
    width: 230px;
}
.datepicker td,
.datepicker th {
    border-radius: 0;
}
.datepicker .datepicker-switch {
    height: 50px;
    font-size: 16px;
    color: #161616;
    font-weight: normal;
}
.datepicker .datepicker-switch:hover {
    background: #f5f3f2;
}
.datepicker .prev {
    text-indent: -9999px;
    overflow: hidden;
}
.datepicker .prev:after {
    content: '\f0d9';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 15px;
    width: 32px;
    line-height: 20px;
    text-indent: 0;
    text-align: center;
    display: block;
}
.datepicker .prev:hover {
    background: #f5f3f2;
}
.datepicker .next {
    text-indent: -9999px;
    overflow: hidden;
}
.datepicker .next:hover {
    background: #f5f3f2;
}
.datepicker .next:after {
    content: '\f0da';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 15px;
    width: 32px;
    line-height: 20px;
    text-indent: 0;
    text-align: center;
    display: block;
}
.datepicker .table-condensed thead th {
    background: #f5f3f2;
}
.datepicker .table-condensed thead th.dow {
    padding: 15px 0;
    font-size: 13px;
    color: #161616;
    font-weight: normal;
    background: #fff;
}
.datepicker td {
    height: 32px;
    font-size: 13px;
    color: rgba(22, 22, 22, 0.6);
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background: #f5f3f2 !important;
    border: 0;
    color: #ac9a92;
    text-shadow: none;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: #f5f3f2 !important;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #ddd;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    color: #ac9a92;
    background: #f5f3f2 !important;
}
.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
    background: #f9f9f9 !important;
}

/* modal */
.modal-dialog {
    max-width: 460px !important;
}
.modal-dialog.wide {
    max-width: 1120px !important;
}
.modal-dialog.wide .modal-header {
    margin: 0 60px;
}
.modal-content {
    border: 0;
    border-radius: 0;
    padding-bottom: 40px;
}
.modal-content .btn {
    padding: 17px 30px;
    font-size: 16px;
    line-height: 18px;
}
.modal-header {
    padding: 0;
    margin: 0 30px;
    border-bottom: 1px solid #dadada;
}
.modal-header .modal-title {
    height: 79px;
    padding-top: 29px;
    line-height: 20px;
    font-size: 18px;
    color: #000;
}
.modal-header .close {
    position: absolute;
    right: 0;
    top: 0;
    float: none;
    margin: 0;
    padding: 30px;
    width: 80px;
    height: 80px;
    opacity: 1 !important;
}
.modal-header .close img {
    width: 20px;
    height: 20px;
    display: block;
}
.modal-body {
    padding: 40px 30px 40px 30px;
}
.modal-footer {
    display: block;
    padding: 0 30px;
    text-align: center;
    border-top: 0;
}
.modal-footer .btn {
    padding: 16px 30px;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}
.modal-footer .btn + .btn {
    margin-left: 13px;
}
.modal-footer .btn_area {
    width: 320px;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.modal-footer .btn_area .space {
    display: table-cell;
    width: 16px;
}
.modal-footer .btn_area .cell {
    display: table-cell;
}
.modal-footer .btn_area .btn {
    width: 100%;
}
@media (max-width: 768px) {
    .modal-dialog.wide .modal-header {
        margin: 0 20px;
    }
    .modal-footer {
        padding: 0 35px;
    }
    .modal-footer .btn {
        padding: 14px 25px;
        margin: 0;
        font-size: 13px;
        line-height: 15px;
    }
    .modal-footer .btn + .btn {
        margin-left: 7px;
    }
    .modal-footer .btn_area {
        width: 250px;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .modal-footer .btn_area .space {
        width: 10px;
    }
}

/* scroll */
.mCSB_scrollTools {
    border: 0;
    background: transparent;
    width: 10px;
}
.mCustomScrollBox {
    border-radius: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
    border: 0;
    border-radius: 0;
}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
    opacity: 1;
}

/* loading */
.pswp__preloader__icn {
    display: block;
    opacity: 0.75;
    width: 40px;
    height: 40px;
    -webkit-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite;
}
.pswp__preloader__cut {
    display: block;
    position: relative;
    width: 12px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.pswp__preloader__donut {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin: 0;
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1)
        infinite;
    animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}
@media (max-width: 1200px) {
    .pswp__preloader__icn {
        width: 30px;
        height: 30px;
    }
    .pswp__preloader__cut {
        height: 30px;
    }
    .pswp__preloader__donut {
        width: 30px;
        height: 30px;
    }
}
@-webkit-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(-140deg);
    }
    100% {
        -webkit-transform: rotate(0);
    }
}
@keyframes donut-rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-140deg);
    }
    100% {
        transform: rotate(0);
    }
}
